/* Basic Reset */
* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px) {
    :root {
        --normal-font-size: 1rem;
    }
}

/* BODY */
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    overflow: auto;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

/* Navigation Container starts */
.header {
    width: 100%;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #2eb3e7f7;
    padding: 8px;
    z-index: 1000;
}

/* Nav Data */
.nav__data {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav Logo */
.nav__logo img {
    height: 65px;
}

.nav__data .nav__logo h4 {
    color: rgb(15, 141, 59);
    font-size: large;
}

/* Nav Menu */
.nav__menu {
    display: flex;
    font-size: 20px;
    justify-content: space-between;
    align-items: center;
}

/* Nav List */
.nav__list {
    display: flex;
    transition: all .50s ease;
    list-style: none;
}

/* Nav Links */
.nav__link {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    font-weight: 500;
    transition: color 0.4s;
}

.nav__link:hover {
    color: #181b19;
}

/* Nav Toggle */
.nav__toggle {
    display: none;
    background-color: #39a7d3;
    border-radius: 5px;
    cursor: pointer;
}

/* Dropdown Item */
.dropdown__item {
    position: relative;
}

/* Rotate dropdown icon */
.dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
}

.dropdown__menu {
    display: none;
    position: absolute;
    /* Adjust position to suit your layout */
    top: 100%;
    /* Align with the bottom of the dropdown item */
    left: 30px;
    /* Align with the left edge of the dropdown item */
    width: 200px;
    background-color: #40b8d6cd;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateY(-10px);
    /* Add initial slight offset */
    opacity: 0;
    /* Start with hidden state */
    padding: 5px -50px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    /* Ensure it appears above other content */
}

.dropdown__menu.show {
    display: block;
    transform: translateY(0);
    /* Remove the offset when visible */
    opacity: 1;
    /* Make visible */
}

.dropdown__item:hover .dropdown__menu {
    display: block;
}

.dropdown__link {
    color: #fff;
    padding: 10px 5px;
    display: block;
    white-space: nowrap;
}

.dropdown__link:hover {
    background-color: #0ec0c6;
}

/* Nav Burger Animation */
.nav__burger,
.nav__close {
    font-size: 24px;
    color: #fff;
}

.nav__burger {
    display: block;
}

.nav__close {
    display: none;
}

.nav__toggle.open .nav__burger {
    display: none;
}

.nav__toggle.open .nav__close {
    display: block;
}

/* Navigation Container ends */

/* HOME section starts */
.home {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(121, 150, 149, 0.52), rgba(71, 97, 99, 0.7)), url('media/bg2image.jpeg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    z-index: -1;
    padding-top: 120px;
    /* Adjusted for fixed navbar */
}

.home-content {
    padding: 20px;
    text-align: center;
}

.home-content h1,
.home-content h3 {
    margin: 10px 0;
}

.home h1 {
    margin-top: 100px;
    font-size: 45px;
    margin-bottom: 20px;
}

.home h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.0;
}

/* HOME section ends */

/* FEATURES section starts */
.features {
    height: 50vh;
    background-color: white;
    padding: 50px 15% 1px;
    border-top: 6px solid #333;
    color: maroon;
}

.view {
    justify-items: center;
}

.features {
    padding: 10px 12%;
    font-size: 22px;
}

.row {
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}

.text-col {
    flex-basis: 50%;
    margin-bottom: 20px;
}

.img-col {
    flex-basis: 50%;
    margin-bottom: 10px;
}

.img-col img {
    display: block;
    width: 70%;
    margin: auto;
    border-radius: 10%;
}

.features h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.features {
    font-size: 20px;
    font-weight: 500;
}

/* FEATURES section ends */

/* ---- objectives section starts */
.obj {
    position: relative;
    width: 100%;
    background-image: linear-gradient(rgba(63, 140, 198, 0.7), rgba(28, 80, 106, 0.7)), url('media/obj.jpg');
    height: 50vh;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 100px;
    border-top: 6px solid #e8e6e6;
}

.obj-contents {
    padding: 20px;
    text-align: center;
}

.obj-content h1,
.obj-content h3 {
    margin: 10px 5px;
}

.obj h1 {
    margin-top: 0px;
    font-size: 45px;
    margin-bottom: 20px;
}

.obj h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.0;
}

.read-more-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.read-more-btn:hover {
    background-color: #0056b3;
}

/* Modal styling */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    z-index: 1;
    /* Sit on top */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.5);
    /* Black background with opacity */
}

.modal-content {
    background-color: rgb(63, 144, 201);
    margin: 15% auto;
    /* 15% from the top and centered */
    padding: 50px;
    border-radius: 8px;
    width: 90%;
    /* Width of modal */
    max-width: 900px;
}

.close-btn {
    color: #e6eaea;
    float: right;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
    color: black;
}

.obj-content {
    text-align: center;
}

.read-more-btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.read-more-btn:hover {
    background-color: #2980b9;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    text-align: left;
    font-size: large;
}

/* ---- objectives section ends */

/* ---- Card seection starts ---- */
.c-container {
    align-items: center;
    /* Center cards vertically */
    justify-content: center;
    /* Center cards horizontally */
    min-height: 80vh;
    /* background: linear-gradient(#54cee14d, #1857753e); */
    padding-top: 40px;
    border-top: 6px solid #333;
}

.c-container h2 {
    color: #118545;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}

.card-wrapper {
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    /* Allow cards to wrap to the next line */
    gap: 20px;
    padding: 0;
    margin: 0 auto;
    justify-content: center;
    /* Center the cards horizontally */
    align-items: center;
    /* Center the cards vertically */
}

.card-list .card-item {
    list-style: none;
    flex: 1 1 500px;
    /* Adjust the card size based on container width */
    max-width: 400px;
    /* Ensure the cards don't get too large */
}

.card-list .card-link {
    display: block;
    background: #2eb3e7f7;
    padding: 18px;
    border-radius: 12px;
    text-decoration: none;
    border: 2px solid transparent;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s ease;
}

.card-list .card-link .card-image {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.card-list .card-link .badge {
    color: #5372f0;
    padding: 8px 16px;
    font-size: 0.95rem;
    font-weight: 500;
    margin: 16px 0 18px;
    background: #dde4ff;
    width: fit-content;
    border-radius: 50px;
}

.card-list .card-link .badge.CBGL {
    color: #b22485;
    background: #f7dff5;
}

.card-list .card-link .badge.IMS {
    color: #b25a2b;
    background: #ffe3d2;
}

.card-list .card-link .badge.NTL {
    color: #205c20;
    background: #d6f8d6;
}

.card-list .card-link .badge.Ai-R {
    color: #856404;
    background: #fff3cd;
}

.card-list .card-link .badge.MFL {
    color: #b22485;
    background: #f7dff5;
}

.card-list .card-link .badge.CGNPH {
    color: #b25a2b;
    background: #f7dff5;
}

.card-list .card-link .badge.GIS {
    color: #205c20;
    background: #d6f8d6;
}

.card-list .card-link .card-title {
    font-size: 1.19rem;
    color: white;
    font-weight: 600;
    text-align: center;
    /* Center the text */
}

.card-list .card-link .card-button {
    height: 35px;
    width: 35px;
    color: #1386a0;
    border-radius: 50%;
    margin: 30px auto 5px;
    /* Center the button */
    background: none;
    cursor: pointer;
    border: 2px solid #5372f0;
    transform: rotate(-45deg);
    transition: 0.4s ease;
    display: block;
}

.card-list .card-link:hover .card-button {
    color: #fff;
    background: green;
}

.link-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 50px;
    margin: 15px;
}

.link-list li {
    margin-bottom: 10px;
}

.link-list a {
    text-decoration: none;
    color: #1c7b3c;
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid #314560;
    display: inline-block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.link-list a:hover {
    background-color: rgb(81, 188, 237);
    color: white;
}

/* ---- Card seection ends ---- */

/* ---sponsors logo section starts--- */
@keyframes slide {
    0% {
        transform: translateX(0);
        /* Start from the original position */
    }

    100% {
        transform: translateX(-100%);
        /* Move all images out of view */
    }
}

.log {
    overflow: hidden;
    padding: 10px 0;
    white-space: nowrap;
}

.log h2 {
    color: #21be67;
    font-size: 40px;
    justify-content: center;
    margin-bottom: 20px;
    display: flex;
}


.log:hover .log-slide {
    animation-play-state: paused;
}

.log-slide {
    display: inline-block;
    width: max-content;
    /* Ensures the width fits all images */
    animation: slide 35s linear infinite;
    /* Adjust timing and type as needed */
}

.log-slide img {
    height: 100px;
    margin: 0 40px;
}

/* ---sponsors logo section ends-- */

/* -----footer section starts---- */
.footer {
    background-color: rgb(40, 135, 183);
    padding: 50px 10% 50px;
    border-top: 6px solid #0a0a0a;
    color: white;
}

.footer h2 {
    font-size: 35px;
    font-weight: 0;
    margin-bottom: 15px;
    color: rgb(10, 83, 10);
}

.footer h3 {
    font-size: 15px;
    margin-bottom: 10px;
}

.footer .col {
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}

.footer .col a {
    display: block;
    text-decoration: none;
    color: #fbefef;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(148, 16, 16);
}

.footer .row {
    align-items: flex-start;
    padding: 10px 0;
}

.footer .language-btn {
    color: #fff;
    padding: 10px 20px;
    border-radius: 3px;
}

.copyright-txt {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* ------footer section ends----- */

/* Responsive Styles */
/* General Styles as previously defined */
@media (max-width: 480px) {
    .nav__link {
        padding: 8px 12px;
        /* Adjust padding for smaller screens */
    }

    .dropdown__menu {
        width: 100%;
        /* Make dropdown full width on small screens */
    }

    .dropdown__link {
        padding: 12px 16px;
        /* Adjust padding for smaller screens */
    }

    .obj {
        height: 35vh;
        /* Further reduce height for very small screens */
        padding-top: 40px;
    }

    .obj h1 {
        font-size: 25px;
        /* Further decrease font size */
    }

    .obj h3 {
        font-size: 14px;
        /* Further decrease font size */
    }

    .read-more-btn {
        padding: 6px 12px;
        /* Adjust button size */
    }

    .modal-content {
        width: 95%;
        /* Modal almost full-width */
        padding: 10px;
        /* Reduce padding */
    }

    .obj-contents {
        padding: 10px;
        /* Reduce padding */
    }

    .card-list {
        gap: 10px;
    }

    .card-list .card-item {
        flex: 1 1 100%;
        max-width: 100%;
        /* Cards take full width on mobile screens */
    }

    .card-list .card-link {
        padding: 10px;
    }

    .card-list .card-link .badge {
        font-size: 0.85rem;
    }

    .card-list .card-link .card-title {
        font-size: 1rem;
    }

    .card-list .card-link .card-button {
        height: 30px;
        width: 30px;
        margin: 20px auto 5px;
    }

    .link-list {
        padding: 10px;
        margin: 0;
    }

    .link-list a {
        font-size: 14px;
        /* Further reduce font size */
        padding: 5px 10px;
        /* Smaller padding for mobile */
    }

    .log {
        padding: 30px 0;
        /* Further reduce padding */
    }

    .log-slide img {
        height: 60px;
        /* Reduce image height for mobile */
        margin: 0 10px;
        /* Reduce margin */
    }

    .footer {
        padding: 30px 5% 30px;
        /* Further reduce padding */
    }

    .footer h2 {
        font-size: 24px;
        /* Smaller heading font size */
    }

    .footer h3 {
        font-size: 12px;
        /* Smaller subheading font size */
    }

    .footer .col {
        flex-basis: 100%;
        /* One column per row */
        margin-bottom: 20px;
    }

    .footer .col a {
        font-size: 12px;
        /* Smaller link font size */
    }

    .footer .language-btn {
        padding: 6px 12px;
        /* Smaller button padding */
    }
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        height: auto;
        position: static;
    }

    .nav__menu {
        display: none;
        /* Hidden by default */
        flex-direction: row;
    }

    .nav__menu.show {
        display: flex;
    }

    .nav__link {
        padding: 10px;
        text-align: center;
        font-size: 200;
    }

    .nav__toggle {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    .dropdown__menu {
        position: static;
        transform: none;
        width: 100%;
        box-shadow: none;
    }

    .dropdown__item:hover .dropdown__menu {
        display: block;
        background-color: rgba(45, 114, 146, 0.95);
    }

    .nav__data {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__logo img {
        height: 40px;
    }

    h4 {
        font-size: 14px;
        margin: 10px 0;
    }

    .home {
        padding-top: 140px;
        /* Increase padding for mobile */
    }

    .text-col,
    .img-col {
        flex-basis: 100%;
    }

    .features {
        height: 50vh;
    }

    .features h2 {
        font-size: 30px;
    }

    .features p {
        font-size: 15px;
    }

    .obj {
        height: 40vh;
        /* Reduce the height for smaller screens */
        padding-top: 60px;
        /* Adjust the top padding */
    }

    .obj h1 {
        font-size: 30px;
        /* Decrease font size */
    }

    .obj h3 {
        font-size: 16px;
        /* Decrease font size for smaller screens */
    }

    .read-more-btn {
        padding: 8px 16px;
        /* Adjust button padding */
    }

    .modal-content {
        width: 90%;
        /* Make modal take more width on smaller screens */
        padding: 20px;
        /* Adjust padding */
    }

    .obj-contents {
        padding: 15px;
        /* Reduce padding */
    }

    .card-list {
        gap: 15px;
    }

    .card-list .card-item {
        flex: 1 1 45%;
        max-width: 45%;
        /* Cards take up 45% width on tablet screens */
    }

    .card-list .card-link {
        padding: 15px;
    }

    .card-list .card-link .badge {
        font-size: 0.9rem;
    }

    .card-list .card-link .card-title {
        font-size: 1.1rem;
    }

    .link-list {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        /* Reduce padding */
        margin: 5px;
        /* Adjust margin */
    }

    .link-list li {
        margin-bottom: 15px;
        /* Increase spacing between items */
    }

    .link-list a {
        font-size: 16px;
        /* Reduce font size */
        padding: 8px 12px;
        /* Adjust padding */
    }

    .row:nth-child(2),
    .row:nth-child(4) {
        flex-direction: column-reverse;
    }

    .features .row {
        padding: 10px 0;
    }

    .log {
        padding: 40px 0;
        /* Reduce padding */
    }

    .log-slide img {
        height: 60px;
        /* Reduce image height */
        margin: 0 20px;
        /* Reduce margin */
    }

    .footer {
        padding: 40px 5% 40px;
        /* Reduce padding */
    }

    .footer h2 {
        font-size: 30px;
        /* Reduce font size */
    }

    .footer h3 {
        font-size: 14px;
        /* Adjust subheading font size */
    }

    .footer .col {
        flex-basis: 50%;
        /* Two columns per row */
        margin-bottom: 20px;
    }

    .footer .col a {
        font-size: 14px;
        /* Reduce link font size */
    }

    .footer .language-btn {
        padding: 8px 16px;
        /* Adjust button padding */
    }
}

/* For large devices */
@media screen and (min-width: 1118px) {
    .container {
        margin-inline: auto;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        justify-content: initial;
        column-gap: .25rem;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .nav__list {
        padding-top: 1rem;
        height: 100%;
        display: flex;
        column-gap: 58px;
    }

    .nav__toggle {
        display: none;
    }

    .nav__link {
        height: 100%;
        padding: 0;
        display: flex;
        align-items: center;
        column-gap: 4px;
    }

    .nav__link:hover {
        background-color: transparent;
    }

    .dropdown__item,
    .dropdown__subitem {
        position: relative;
    }

    .dropdown__menu,
    .dropdown__submenu {
        max-height: initial;
        overflow: initial;
        position: absolute;
        left: 0;
        top: 60px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s, top 0.3s;
    }

    .dropdown__link,
    .dropdown__sublink {
        padding: 10px 56px;
    }

    .dropdown__submenu {
        position: absolute;
        left: 100%;
        top: 8px;
    }

    /* Show dropdown menu */
    .dropdown__item:hover .dropdown__menu {
        opacity: 1;
        top: 50px;
        pointer-events: initial;
        transition: top 0.3s;
    }

    /* Show dropdown submenu */
    .dropdown__subitem:hover>.dropdown__submenu {
        opacity: 1;
        top: 0;
        pointer-events: initial;
        transition: top 0.3s;
    }
}